.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 265px;
    height: 490px;
    margin: auto;
    border-radius: 20px;
    background-color: #22252d;
}
.calculatorActive{
    background-color: #ffffff;
}






