
.contentHeader{
    direction: rtl;
}
.contentHeaderHistory{
    color: #cdcdcd;
    width: 225px;
    height: 25px;
}
.contentHeaderResult{
    color: #ffffff;
    font-size: 40px;
    margin: -8px 0px 15px 8px;
}
.contentHeaderActive{
    color: #000000;
}
